
<div class="heading">
  <h1 class="page_title">{{title}}</h1>
</div>
<div class="container main_container">
  <form class="offset-by-one ten columns">
    <div class="row ">
      <label>name:</label>
      <input class="twelve columns" type="text" name="name" placeholder="name">
    </div>
    <div class="row jserror namerr"></div>
    <div class="row ">
      <label>email:</label>
      <input class="twelve columns" type="text" name="email" placeholder="email">
    </div>
    <div class="row jserror emailerr"></div>
    <div class="row">
      <label>password:</label>
      <input class="twelve columns password" type="password" name="password" placeholder="password">
    </div>
    <div class="row">
      <label>confirm password:</label>
      <input class="twelve columns confirmpassword" type="password" name="confirmpassword" placeholder="password">
    </div>
    <div class="row jserror pwerr"></div>
    <div class="row">
      <label>permissions <i class="fa fa-question-circle question" aria-hidden="true"></i></label>
      <select name="permission" class="twelve columns permissions">
        {% if session['permission'] == "super-admin" %}
          <option value="super-admin">super-admin</option>
        {% endif %}
        <option value="admin" class="">admin</option>
        <option value="user" class="">user</option>
      </select>
    </div>
    {% if session['permission'] == "super-admin" %}
      <div class="row client_select">
        <label>access</label>
        <select name="business" class="twelve columns client">
          <option value="">select client</option>
          {% for client in all_clients %}
            <option value="{{client.id}}">{{client.name}}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
    <div class="row jserror all">
      <p>please fill out all fields</p>
    </div>
    <div class="row btn-center">
      <input class="register" type="submit" value="Register a New User">
    </div>
  </form>
</div>
<div class="popup info_window">
  <div class="row close_container">
    <i class="fa fa-times-circle close" aria-hidden="true"></i>
  </div>
  {% if session['permission'] == "super-admin" %}
    <div class="row">
      <span>Super-Admin:</span> has access to all clients and can add and remove users with any permission level.
    </div>
  {% endif %}
  <div class="row">
    <span>Admin:</span> has access to
    {% if session['permission'] == "super-admin" %} only one {% endif %}
    client's data and can edit, add and remove other admins and users.
  </div>
  <div class="row">
    <span>User:</span> has access to {% if session['permission'] == "super-admin" %} only one {% endif %} client's data, but can not edit, add or remove other users.
  </div>
</div>
<div class="popup success">
  <div class="row close_container">
    <i class="fa fa-times-circle close" aria-hidden="true"></i>
  </div>
  <div class="row">User has been successfully added to the database.</div>
  <div class="row">
    <button type="button" class="user_list">view user list</button>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/add_user.js') }}"></script>
