<div class="heading">
  <h1 class="page_title">{{title}}</h1>
</div>
<div class="container main_container">
  <form class="offset-by-one ten columns">
    <div class="select_client">
      <div class="row">
        <label>name:</label>
        <input class="twelve columns required" type="text" name="name" placeholder="seminar title">
      </div>
      <div class="row jserror namerr"></div>
      <div class="row">
        <label>race course number:</label>
        <input class="twelve columns required" type="text" name="course_num" placeholder="race course number">
      </div>
      <div class="row jserror courserr"></div>
      <div class="row">
        <label>duration:</label>
        <input class="twelve columns required" type="number" name="duration" placeholder="required duration for attendees in minutes">
      </div>
      <div class="row jserror durationerr"></div>
      <div class="row">
        <label>date:</label>
        <input class="twelve columns required" type="date" name="date" value="" placeholder="yyyy-mm-dd">
      </div>
      <div class="row jserror daterr"></div>
      <div class="row instructor">
        <label>instructor:</label>
        <select class=" twelve columns" name="existing_instructor">
          <option value="">no instructor selected</option>
          {% for instructor in instructors %}
            <option value="{{instructor.id}}">{{instructor.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row jserror instructorerr"></div>
      <div class="row add_target">
        <button type="button" class="twelve columns new_instructor">add a new or additional instructor</button>
      </div>
      <div class="row">
        <label>email text:</label>
        <!-- placeholder text should be pulled from text of the email for that clients most recent seminar -->
        <textarea class="twelve columns required" type="text" name="email_text" placeholder="email text to be sent to every attendee"></textarea>
      </div>
      <div class="row jserror emailerr"></div>
      <div class="row">
        <label>RACE verbiage:</label>
        <!-- to be inserted at bottom of certificate. will be different for each seminar -->
        <textarea class="twelve columns required" type="text" name="race_verbiage" placeholder="RACE required text for certificate"></textarea>
      </div>
      <div class="row jserror racerr"></div>
      <div class="row">
        <label>CVPM verbiage (optional):</label>
        <!-- same as above, but only some users will be able to see this -->
        <textarea class="twelve columns" type="text" name="cvpm_verbiage" placeholder="CVMP required text for certificate"></textarea>
      </div>
      <div class="row jserror">
        <p>please fill out all required fields</p>
      </div>
      <div class="row">
        <input class="four columns add_seminar" type="submit" value="Add Seminar">
      </div>
    </div>
  </form>
</div>
{% if session['permission'] == "super-admin" and session['business_id'] == 23 %}
<div class="popup client_alert">
  <div class="row">
    <p>you haven't chosen a client yet!</p>
    <button type="button" name="button" class="client_alert_button">ok</button>
  </div>
</div>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/add_class.js') }}"></script>
