<div class="heading">
  <h1 class="page_title">{{title}}</h1>
</div>
<div class="container main_container">
  <form class="offset-by-one ten columns">
    <div class="client_form">
      <div class="row ">
        <label>name: </label>
        <input class="twelve columns required" type="text" name="name" placeholder="client name, including degrees">
      </div>
      <div class="row jserror namerr"></div>
      <div class="row ">
        <label>client title (optional):</label>
        <input class="twelve columns" type="text" name="title" placeholder="business title, ex: CEO">
      </div>
      <div class="row jserror titlerr"></div>
      <!-- get all businesses, populate select on page load -->
      <div class="biz_opts">
        <label>choose client business name:</label>
        <div class="row">
          <select class="six columns business" name="existing_biz">
            {% for business in businesses %}
            <option value="{{business.id}}">{{business.name}}</option>
            {% endfor %}
          </select>
          <!-- if user clicks this button new partial will be loaded, and row will be removed to avoid conflicting data-->
          <button type="button" class="six columns add_biz">or add new business</button>
        </div>
      </div>
      <!-- load add business partial -->
      <div class="new_biz"></div>

      <div class="row jserror">
        <p>please fill out all required fields</p>
      </div>
      <div class="row">
        <input type="submit" name="action" value="add new client">
        <a href="#" class="u-pull-right four columns client"><button type="button">back to choose business</button></a>
      </div>
    </div>
  </form>
</div>
<div class="popup">
  <div class="row close_container">
    <i class="fa fa-times-circle close" aria-hidden="true"></i>
  </div>
  <p class="centered">client was added to the database</p>
  <div class="row">
    <a href="#" class="activate"><button type="button" class="twelve columns">make newly added client active</button></a>
  </div>
  <div class="row centered">OR</div>
  <div class="row">
    <a href="#" class="choose"><button type="button" class="twelve columns">select a different client</button></a>
  </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/add_client.js') }}"></script>
