<div class="heading">
  <h1 class="page_title">{{title}}</h1>
</div>
<div class="container main_container">
  <div class="offset-by-one ten columns">
    <div class="row">
      <label>select a seminar:</label>
      <select class="twelve columns class_name" name="class">
        {% for class in incomplete_classes %}
        <option value="{{class.id}}">{{class.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="row">
      <input class="twelve columns default_pdf" type="button" value="use existing client PDF">
    </div>
    <div class="row">
      <input type="button" class="twelve columns change_pdf" value="or replace with new PDF">
      <input type="text" class="twelve columns pdffilename" value="" disabled>
      <input type="file" class="pdfupload" accept=".pdf">
    </div>
    <div class="row">
      <input type="button" class="twelve columns add_csv" value="upload CSV file">
      <input type="text" class="twelve columns csvfilename" value="" disabled>
      <input type="file" class="csvupload" accept=".csv">
    </div>
    <div class="row">
      <input class="four columns make" type="button" value="Generate Certificates">
    </div>
  </div>
</div>
{% if session['permission'] == "super-admin" and session['client_id'] == 7 %}
<div class="popup client_alert">
  <div class="row">
    <p>you haven't chosen a client yet!</p>
    <button type="button" name="button" class="client_alert_button">ok</button>
  </div>
</div>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/certificates.js') }}"></script>
