<div class="heading">
  <h1 class="page_title">{{title}}</h1>
</div>
<div class="container main_container">
  <div class="offset-by-one ten columns">
      <table class="u-full-width">
        <thead>
          <th>client business name</th>
          <th>client email</th>
          <th>client website</th>
          <th class="u-pull-right">action</th>
        </thead>
        <tbody>
          {% for business in businesses %}
          <tr>
            <td>{{business.name}}</td>
            <td>{{business.email}}</td>
            <td>{{business.website}}</td>
            <td>
              <button type="button" data-client-id="{{business.id}}" name="button" class="u-pull-right edit">edit client info</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/clients.js') }}"></script>
