$barely_yellow: #fffef4;
$light_yellow: #e7e0ad;
$teal: #052633;
$links: #287ea1;
$purple: #23032a;
$shadow: #b4b2b2;
$warn: #ec795b;
@mixin inline-block($width) {
  display: inline-block;
  vertical-align: top;
  width: $width;
}
@mixin container($width) {
  border: 1px solid $shadow;
  border-radius: 4px;
  background: linear-gradient(135deg, #ffffff, $light_yellow);
  background-color: $barely_yellow;
  width: $width;
}
body {
  background: linear-gradient(135deg, $purple, $teal);
  min-height: 100vh;
}
textarea {
  resize: none;
  height: 40vh;
}
label {
  font-weight: 400;
}
input[type=button]:hover,
input[type=submit]:hover,
button:hover {
  border: 1px solid $warn;
  color: $warn;
}
a {
  color: $links;
  text-decoration: none;
}
//all pages content and background
.main_content {
  @include inline-block(75%);
  margin: 0 0 50px 20px;
  .heading {
    color: $barely_yellow;
    text-align: center;
    margin-top: 50px;
  }
  .main_container {
    @include container(100%);
    padding: 50px 0;
    margin-top: 50px;
  }
}
//collapsable sidebar as seen on every page
.sidebar {
  @include inline-block(17%);
  margin-left: 10px;
  // z-index: 99;
  .expand_icon {
    padding: 10px 0 0 10px;
    color: $barely_yellow;
    font-size: 2em;
  }
  .sidebar_content {
    display: none;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5em;
    a {
      display: block;
      font-size: 1.7em;
      border-bottom: 1px solid $links;
    }
  }
}
//on add user page
.client_select {
  display: none;
}
//bg paw certificate logo as seen on every page
.logo {
  @include inline-block(0);
  visibility: visible;
  .badge {
    color: $barely_yellow;
    position: absolute;
    top: 35px;
    left: 30px;
    opacity: 0.1;
    font-size: 10em;
    z-index: -2;
  }
  .paw {
    color: $purple;
    position: absolute;
    top: 92px;
    left: 60px;
    z-index: -1;
    font-size: 5em;
  }
}
//any place that requires pop-up window can use this style
.info {
  color: $warn;
}
.centered {
  text-align: center;
}
.popup {
  display: none;
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 30vh;
  left: 25%;
  box-shadow: 2px 2px 10px $shadow;
  span {
    font-weight: 700;
    color: $links;
  }
  .close_container {
    text-align: right;
    .close {
      font-size: 1.4em;
      color: $warn;
    }
  }
}
.client_alert {
  display: block;
  text-align: center;
}
//pyhton flash error display for all forms
.error {
  color: $warn;
  font-weight: bold;
  padding-bottom: 10px;
}
//javascript toggle error display for all forms
.jserror {
  display: none;
  color: $warn;
  font-weight: bold;
  padding-bottom: 10px;
}
.switch {
  padding: 4px;
  text-align: right;
}
input[type=file] {
  display: none;
}
.pdffilename,
.csvfilename {
  display: none;
}
