<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Certify Me!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="heading">
      <h1>Certify Me</h1>
    </div>
    <div class="container login_container">
      <div class="offset-by-one eight columns">
        <div class="row ">
          <label>select client:</label>
          <select class="twelve columns" name="">
            <option value="noclient">New Client</option>
            <option value="client1">David Liss</option>
            <option value="client2">Another Client</option>
            <option value="client3">Some Other Client</option>
          </select>
        </div>
        <div class="row">
          <label>or enter new client:</label>
          <input class="twelve columns" type="text" placeholder="client name">
        </div>
        <div class="row btn-center">
          <a href="/emails"><input class="four columns" type="button" value="Next"></a>
        </div>
      </div>
      <div class="row two columns">
        <div class="row">
          <button type="button">Add Client</button>
          <button type="button">Add User</button>
        </div>
      </div>
    </div>
    <div class="logout_btn">
      <a href="/"><button type="button">log me out</button></a>
    </div>
  </body>
</html>
