<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Certify Me!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>

    <div class="sidebar">
      <div class="logo">
        <div class="badge">
          <i class="fa fa-certificate" aria-hidden="true"></i>
        </div>
        <div class="paw">
          <i class="fa fa-paw" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="main_content">
      <div class="heading">
        <h1 class="page_title">Welcome to {{title}}</h1>
        <h4>Login to get started</h4>
      </div>
      <div class="container main_container">
        <form action="/login" method="post" class="offset-by-one ten columns">
          <div class="row ">
            <label>email:</label>
            <input class="twelve columns required" name="email" type="text" placeholder="email">
          </div>
          <div class="row">
            <label>password:</label>
            <input class="twelve columns required" name="password" type="password" placeholder="password">
          </div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="row error">
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="row btn-center">
            <input class="login" type="submit" value="Log me in!">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
