<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Certify Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="heading">File Uploads</h1>
    <div class="container login_container">
      <div class="offset-by-one ten columns">
        <div class="row twelve columns">
          <label>spreadsheet</label>
          <input type="text" placeholder="csv file only">
          <button type="button">Select file</button>
        </div>
        <div class="row twelve columns">
          <label>certificate pdf</label>
          <input type="text" placeholder="pdf file only">
          <button type="button">Select file</button>
        </div>
        <div class="row btn-center">
          <a href="/list"><input class="four columns" type="button" value="Upload all files"></a>
        </div>
      </div>
    </div>

    <div class="logout_btn">
      <a href="/"><button type="button">log me out</button></a>
    </div>

  </body>
</html>
